.settings {
  height: 100%;
  width: 100%;
  min-height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
  }

  &__user-name {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__user-password {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  &__uploader {
    border-radius: 50%;
    border: 1px dashed $greyBlack;
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;

    &.active {
      width: 100%;
      height: 100%;
    }
  }

  &__image.active:hover {
    .settings__image-overlay {
      opacity: 1;
      pointer-events: initial;
      transition: all 0.3s linear;
    }
  }

  .ant-image {
    position: absolute;
  }

  &__image img {
    background-size: cover;
  }

  &__image-overlay {
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s linear;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: 2;
  }

  &__image-delete {
    &:hover {
      svg {
        transition: all 0.3s linear;
        fill: $primary;
      }
    }

    svg {
      transition: all 0.3s linear;
      width: 40px;
      height: 40px;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__upload-icon {
    svg {
      width: 20px;
      height: 20px;
    }
  }
  &__image-upload {
    position: relative;
    z-index: 9;
  }
  &__form {
    width: 100%;
  }
}
