.administration {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  &__segment {
    width: 300px;
  }
  .ant-segmented-group {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__taxonomy {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
