.library {
  &__tab-title {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__tab-icon {
    width: 15px;
    height: 15px;
    fill: transparent;
    stroke: $black;
    stroke-width: 3px;
  }
}
