.login {
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: flex-end;
  &__form {
    max-width: 50vw;
    width: 100%;
    padding: 20px;
    margin-left: 10px;
    background: linear-gradient(
      160deg,
      rgba(217, 217, 217, 0.32) 0%,
      rgba(217, 217, 217, 0.08) 100%
    );
    box-shadow: $darkShadow;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__form-content {
    width: 100%;
    max-width: 500px;
  }
  &__title {
    text-align: center;
    margin-bottom: 20px;
  }
  &__form-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}
