.calendar {
  .fc .fc-daygrid-day-frame {
    height: 90px;
  }
  .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    position: absolute !important;
  }
  td.fc-day {
    max-height: 100px;
    border-radius: 10px;
    border: 10px solid $greyMedium !important;
    background-color: $greyLight;
    transition: all 0.3s linear;
    cursor: pointer;
    padding: 10px;
    &.fc-day-today {
      background-color: $primary;
      color: $white;
      &:hover {
        background-color: $primary;
        opacity: 0.5;
        transition: all 0.3s linear;
      }
    }
    &:hover {
      background-color: $greyDark;
      transition: all 0.3s linear;
    }
  }
  .fc-col-header-cell.fc-day {
    background-color: transparent !important;
  }

  colgroup {
    background-color: transparent !important;
  }
  button:disabled {
    pointer-events: none;
  }
  .fc-more-link,
  .fc-event {
    transition: all 0.3s linear;
    &:hover {
      transition: all 0.3s linear;
    }
  }
  .fc-daygrid-event-dot {
    border-radius: 50% !important;
    border-width: 8px !important;
  }
  &__modal {
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }
  &__modal-head {
    margin-bottom: 20px;
  }
  &__modal-add {
    width: 100%;
  }
  &__modal-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__modal-area--list {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-height: 430px;
    overflow: auto;
    padding-right: 10px;
  }
  &__modal-area--item {
    height: 100% !important;
    max-height: 100px !important;
    min-height: 100px !important;
  }
  &__modal-event-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  &__modal-events {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  &__modal-event {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;
    padding: 5px 10px;
    &:hover {
      transition: all 0.3s;
      background-color: $greyMedium;
    }
  }
  &__modal-events--list {
    max-height: 310px;
    overflow: auto;
  }
  &__modal-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__modal-event--close {
    width: 15px;
    height: 15px;
  }
  &__modal-add {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  &__modal-picker {
    margin-bottom: 20px;
    width: 100%;
  }
  &__modal-title {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    svg {
      width: 20px;
      height: 20px;
      fill: transparent;
    }
  }
  &__modal-event--close {
    cursor: pointer;
    width: 15px;
    height: 15px;
    stroke: $greyBlack;
    transition: all 0.3s linear;
    &:hover {
      stroke: $primary;
      transition: all 0.3s linear;
    }
  }
  &__modal-event--actions {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__modal-area--item {
    border: 1px solid $greyBlack;
    border-radius: 10px;
    transition: all 0.3s linear;
    &:hover {
      color: $primary !important;
      border: 1px solid $primary;
      transition: all 0.3s linear;
    }
    &.active {
      background-color: $primary !important;
      color: $white !important;
      &:hover {
        background-color: $primary !important;
        opacity: 0.8;
      }
    }
  }
}
