$white: #ffffff;
$black: #000000;
$greyLight: #eaeaea;
$greyMedium: #dddddd;
$greyDark: #cccccc;
$greyBlack: #4e4e4e;
$blueAntd: #1890ff;
$green: #24a052;
$red: #bb3b3e;
$yellow: #f4ca16;
$orange: #f07427;
$blackTransparent: rgba(0, 0, 0, 0.7);
$whiteTransparent: rgba(255, 255, 255, 0.7);
$error: #af002a;
$primary: #015249;
$shadowLight: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$shadowMedium: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$darkShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$blackShadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
