*,
body {
  font-family: 'Inter', sans-serif !important;
  font-weight: 500 !important;

  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: $primary;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $primary !important;
  }
}
body {
  overflow-x: hidden;
}
#root {
  height: 100%;
  width: 100%;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}
iframe {
  display: none;
}

h1 {
  font-size: 2.25rem;
  line-height: 3.375rem;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.75rem;
  line-height: 2.625rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2.375rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

h6 {
  font-size: 1.125rem;
  line-height: 1.6875rem;
}
div {
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

.text {
  font-size: 0.75rem;
  line-height: 1.125rem;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.fc-button-primary,
button.ant-btn.ant-btn-primary {
  background-color: $primary !important;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent !important;
  transition: all 0.3s linear;
  box-shadow: none !important;
  span {
    color: $white;
    transition: all 0.3s linear;
  }
  &:hover {
    transition: all 0.3s linear;
    border: 1px solid $primary !important;
    background-color: transparent !important;
    color: $primary !important;
    span {
      color: $primary !important;
      transition: all 0.3s linear;
    }
  }
  &:disabled {
    opacity: 0.5;
    &:hover {
      border: 1px solid transparent;
      background-color: $primary !important;
      span {
        color: $white;
      }
    }
  }
}

button.ant-btn.ant-btn-default {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: all 0.3s linear;
  border: 1px solid $greyBlack !important;
  box-shadow: none !important;
  span {
    color: $black;
    transition: all 0.3s linear;
  }
  &:hover {
    transition: all 0.3s linear;
    border: 1px solid $primary !important;
    background-color: transparent !important;
    span {
      color: $primary;
      transition: all 0.3s linear;
    }
  }
  &:disabled {
    opacity: 0.5;
    &:hover {
      border: 1px solid $greyBlack !important;
      span {
        color: $black;
      }
    }
  }
}

.ant-input-affix-wrapper {
  // background-color: $greyLight;
  &:hover {
    border-color: $greyBlack !important;
  }
  &-focused {
    border-color: $greyBlack !important;
    box-shadow: none !important;
  }
  input {
    // background-color: $greyLight;
    font-size: 14px;
    &::placeholder {
      font-size: 14px;
    }
  }
}

.drawer {
  max-width: 50vw;
  width: 100%;
  height: calc(100% - 200px);
  padding: 20px;
  margin-left: 10px;
  background: linear-gradient(
    160deg,
    rgba(217, 217, 217, 0.32) 0%,
    rgba(217, 217, 217, 0.08) 100%
  );
  box-shadow: $darkShadow;
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 120px;
  right: 40px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s linear;
  border-radius: 10px;
  &.active {
    transition: all 0.5s linear;
    opacity: 1;
    pointer-events: initial;
  }
}

.default {
  width: 100%;
  padding: 24px;
  margin: 0px;
  height: calc(100% - 60px);
  background-color: $greyDark;
  &__content {
    background-color: $greyMedium;
    height: 100%;
    padding: 24px;
    box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    margin-left: 80px;
  }
}

.ant-table-header {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.ant-pagination-options,
.ant-pagination-options .ant-select,
.ant-pagination-options .ant-select .ant-select-selector,
.ant-pagination.ant-pagination-mini .ant-pagination-item {
  min-width: 32px !important;
  height: 32px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none !important;
}

.ant-pagination.ant-pagination-mini.ant-table-pagination {
  align-items: center;
}

.farm__model {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  background-color: $primary;
}
